@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

  
        <main role="main" class="pb-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrizione</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Prezzo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Margherita</td>
                        <td> pomodoro, mozzarella, basilico fresco, sale e olio</td>
                        <td><img src="https://picsum.photos/id/292/100/100"></td>
                        <td>7€</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Marinara</td>
                        <td>Pomodoro, aglio, origano, olio</td>
                        <td><img src="https://picsum.photos/id/292/100/100"></td>
                        <td>5€</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Capricciosa</td>
                        <td>pomodoro, mozzarella, prosciutto cotto, funghi, olive verdi e nere, e carciofini</td>
                        <td><img src="https://picsum.photos/id/292/100/100"></td>
                        <td>12€</td>
                    </tr>
                </tbody>
            </table>
        </main>



